.CreateAccount {
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    border: 1px solid silver;
}

.CreateAccount * {
    display: block;
}

.CreateAccount h1 {
    color: #333333;
}

.CreateAccount h1:hover {
    cursor: default;
}

.CreateAccount input {
    padding: 10px;
    border: 1px solid silver;
    width: 280px;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;
}

.CreateAccount input:last-child {
    width: 100px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    transition: all 0.4s ease;
}

.CreateAccount input:last-child:hover {
    cursor: pointer;
    background-color: steelblue;
    border-color: steelblue;
    color: white;
}




@media (max-width: 360px) {
    .CreateAccount {
        width: 250px;
    }

    .CreateAccount input {
        width: 230px;
    }
}